.container {
  height: 100%;
  width: 100%;
  padding: 2rem;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .filter {
    width: 15rem;
  }
}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem 1rem;
  padding: 1rem;
}
@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 100% !important;
  }
  .filter {
    width: 10rem !important;
  }
}
.card-subtitle {
  span + span {
    margin-left: 0.5rem;
  }
}
